.middlePart {

    margin: 10rem;
    display: flex;
    height: 30rem;
    justify-content: center;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
        margin: 15rem;

    }

    transition: all .2s;


    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        font-size: 2.5rem;
    }

    &__heading {
        //   font-size: 3.8rem;
        //   font-weight: 700;
        margin-bottom: 3rem;
        animation: moveInTop 1.5s;

    }

    &__content {
        font-size: 2rem;
        font-weight: 400;
        border-top: solid 5px;
        padding-top: 2rem;
        animation: moveInLeft 1s;
    }

    &__image {

        @media only screen and (max-width: 800px) {
            height: 100%;
            margin-top: 5rem;
        }

    }

    &__img {
        height: 100%;
        object-fit: cover;

        @media only screen and (max-width: 800px) {
            width: 100%;
            height: auto;

        }
    }
}